<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homestic</title>
</head>
<body>
    <h3>Details</h3>
    <ul>
        <li><%=listings.title%></li>
        <li><%=listings.description%></li>
       
        <li> &#x20B9; <%=listings.price.toLocaleString('en-IN')%></li>
        <li><%=listings.location%></li>
        <li><%=listings.country%></li>
    </ul>
    <form method="GET" action="/listings/<%=listings._id%>/edit">
        <button>Edit this listing</button>
    </form>
     <form method="POST" action="/listings/<%=listings._id%>?_method=DELETE">
        <button>Delete this listing</button>
    </form>
    
</body>
</html>